{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'analytics/css/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h2>Статистика за период: {{time_start|date:"d-m-Y"}} : {{time_end|date:"d-m-Y"}}</h2>

    <form method="post" action="{% url 'analytics'%}">
        {% csrf_token %}
        <div class="custom-form-error form-label">{{ form.non_field_errors }}</div>
        <div class="date_input">
        {% for f in form %}
            <label class="form-label" for="{{ f.id_for_label }}"><strong>{{f.label}}</strong></label>
            {{ f }}
            <div class="form-label">{{ f.errors }}</div>
        {% endfor %}
        </div>
        <button class="btn btn-success">Показать</button>
    </form>

    {% if data_set %}


    <div class="total__profit">
        <div class="total__profit_pie">
            <canvas id="pieTotal"></canvas>
        </div>
        <div class="total__profit_top">
            <div class="total__profit_content">
                <div class="content-card">
                    <div class="total__profitt_title">
                        <strong>5 самых продаваемых товаров:</strong>
                    </div>
                    <br>
                    <div class="total__profit_content">
                        <ul class="list-group">
                            {% for sale in top_sales %}
                            <li class="list-group-item"><strong>{{sale.product__name}}:</strong>
                                {{sale.total_quantity_all}}
                                шт.
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="content-card">
                    <div class="total__profitt_title">
                        <strong>Товары с наибольшей чистой прибылью:</strong>
                    </div>
                    <br>
                    <div class="total__profit_content">
                        <ul class="list-group">
                            {% for sale in top_profit %}
                            <li class="list-group-item"><strong>{{sale.product__name}}:</strong>
                                {{sale.total_score_cleaned|floatformat:2}} руб.
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

            <div class="total__profit_descr">
                В этом блоке показана статистика для 5 самых продаваемых товаров,
                а также для 5 товаров, чистая прибыль от которых максимальна относительно других продаж.
                Более подробная статистика по доходу с каждого Вашего товара находится ниже на этой странице.
            </div>
        </div>
    </div>

    <div class="detail__content">
        <div class="header__inner_pie">
            <canvas id="pie"></canvas>
        </div>
        <div class="header__inner_pie">
            <canvas id="pieSale"></canvas>
        </div>
        <div>
        </div>
    </div>

    <canvas id="myChart" style="width:250px;height:150px"></canvas>

    {% else %}
    <br>
    <div class="alert alert-warning" role="alert">
        За указанный период нет продаж. Пожалуйста, выберите другой период.
    </div>
    {% endif %}

</div>


<script>
  Chart.register(ChartDataLabels);

  const ctx = document.getElementById('myChart');

  const customGcgPlugin = {
    id: 'customCanvasBackgroundColor',
    beforeDraw: (chart, args, options) => {
        const {ctx} = chart;
        ctx.save();
        ctx.globalCompositeOperation = 'destination-over';
        ctx.fillStyle = options.color || '#99ffff';
        ctx.fillRect(0, 0, chart.width, chart.height);
        ctx.restore();
    }
  };

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for d in data_set%} '{{d.product__name}}',{%endfor%}],
      datasets: [
      {
        label: 'Общая прибыль',
        backgroundColor: "#B587FA",
        data: [{%for d in data_set%} {{d.total_score|safe}},{%endfor%}],
        borderWidth: 1,

      },{
        label: 'Чистая прибыль',
        backgroundColor: "#536DBD",
        data: [{%for d in data_set%} {{d.total_score_cleaned|safe}},{%endfor%}],
        borderWidth: 1
      }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Статистика по продажам за выбранный период.',
                font: {
                    size: 18,
                },
            },
            datalabels: {
                formatter: function(value, context) {
                    return value.toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                },
                color: '#ffffff',
                clamp: true,
                anchor: 'center',
                labels: {
                    title: {
                        font: {
                            weight: 'bold',
                            size: 10,
                        }
                    }
                }
            },
            customCanvasBackgroundColor: {
                color: '#f0efed',
            }
        }
    },
    plugins: [customGcgPlugin],
  });


  const pieCtx = document.getElementById('pie');

  new Chart(pieCtx, {
      type: 'pie',
      data: {
        labels: [{%for d in data_set%}'{{d.product__name}}',{%endfor%}],
        datasets: [{
            label: 'Количество',
            data: [{%for d in data_set%} {{d.total_quantity_all}},{%endfor%}],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(255, 100, 97)',
            'rgb(186, 255, 152)',
            'rgb(91, 90, 214)',
            'rgb(32, 138, 127)',
            'rgb(175, 178, 240)',
            ],
            hoverOffset: 4 }]
      },
      options: {
        plugins: {
            legend: {
                display: true,
                labels: {
                    color: 'rgb(80, 87, 85)',
                },
                position: 'left',
            },
            title: {
                display: true,
                text: 'Всего проданных товаров за период.',
                padding: {
                    bottom: 0,
                },
                font: {
                  size: 18,
                },
            },
            datalabels: {
                color: '#ffffff',
                labels: {
                    title: {
                        font: {
                            weight: 'bold',
                        }
                    },
                }

            }
        }
    }
  })

  const pieSaleCtx = document.getElementById('pieSale');

  new Chart(pieSaleCtx, {
      type: 'pie',
      data: {
        labels: [{%for d in data_set%}'{{d.product__name}}',{%endfor%}],
        datasets: [{
            label: 'Количество',
            data: [{%for d in data_set%} {{d.total_quantity}},{%endfor%}],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(255, 100, 97)',
            'rgb(186, 255, 152)',
            'rgb(91, 90, 214)',
            'rgb(32, 138, 127)',
            'rgb(175, 178, 240)',
            ],
            hoverOffset: 4 }]
      },
      options: {
        plugins: {
            legend: {
                display: true,
                labels: {
                    color: 'rgb(80, 87, 85)',
                },
                position: 'left',
            },
            title: {
                display: true,
                text: 'Отдельных продаж с каждым товаром за период.',
                padding: {
                    bottom: 0,
                },
                font: {
                    size: 18,
                },
            },
            datalabels: {
                color: '#ffffff',
                labels: {
                    title: {
                        font: {
                            weight: 'bold',
                        }
                    },
                }

            }
        }
    }
  });

  const pieTotalCtx = document.getElementById('pieTotal');

  new Chart(pieTotalCtx, {
      type: 'pie',
      data: {
        labels: ['Общая прибыль', 'Общая чистая прибыль', 'Всего к уплате налогов'],
        datasets: [{
            label: 'Счёт',
            data: {{total_values}},
            backgroundColor: [
            '#B587FA',
            '#536DBD',
            '#EBC183',
            'rgb(255, 205, 86)',,
            ],
            hoverOffset: 7 }]
      },
      options: {
        plugins: {
            legend: {
                display: true,
                labels: {
                    color: 'rgb(80, 87, 85)',
                },
                position: 'left',
            },
            title: {
                display: true,
                text: 'Общие доходы и налоги за период.',
                padding: {
                    bottom: 0,
                },
                font: {
                    size: 18,
                }
            },
            datalabels: {
                formatter: function(value, context) {
                    return value.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + ' руб.';
                },
                color: '#ffffff',
                labels: {
                    title: {
                        font: {
                            weight: 'bold',
                        }
                    },
                }

            }
        }
    }
  });


</script>

{% endblock %}