{% extends 'common/base.html' %}
{% load static %}

{% block header %}
<!--    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<a href="{% url 'sales' %}"><img class="custom_arrow" src="{% static 'common/images/arrow-left.png' %}" alt="left"></a>
<div class="container">
    <canvas id="myChart"></canvas>
    <canvas id="chart"></canvas>
</div>


<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for d in data_set%}'{{d.product.name}}',{%endfor%}],
      datasets: [{
        label: 'price',
        data: [{%for d in data_set%}'{{d.get_total_score}}',{%endfor%}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  let ctx1 = document.getElementById("chart").getContext("2d");

  let chart = new Chart(ctx1, {
  type: "bar",
  data: {
     labels: ["2020/Q1", "2020/Q2", "2020/Q3", "2020/Q4"],
     datasets: [
        {
          label: "Gross volume ($)",
          backgroundColor: "#79AEC8",
          borderColor: "#417690",
          data: [26900, 28700, 27300, 29200]
        }
     ]
  },
  options: {
     title: {
        text: "Gross Volume in 2020",
        display: true
     }
  }
});

</script>

{% endblock %}