@media only screen and (max-width: 1400px){
	.images{
		display: none;
	}
	.text__must_hidden{
		display: none;
	}
}

@media only screen and (max-width: 992px){
	.nav-link{
		font-size: 14px!important;
	}
	.add_btn{
		font-size: 13px!important;
		margin: 0 0 10px 0;
	}
	.nav_btn{
		font-size: 13px!important;
	}
	.table_common{
		display: none;
	}
	.table_modile{
		display: table;
	}
	.footer{
		height: auto;
	}
	.footer__link{
		font-size: 12px;
		margin-left: 30px;
	}
	.copyright{
		font-size: 12px;
		margin-left: 30px;
	}
	.total__profit_wrapper{
		display: flex;
		justify-content: space-between;
		font-size: 14px;
	}
	.card-title-mobile{
		font-weight: 500;
	}
	th{
		font-size: 14px;
	}
	td{
		font-size: 14px;
	}
	#pie{
		height: 330px!important;
		width: 330px!important;
	}
	#pieSale{
		height: 330px!important;
		width: 330px!important;
	}
	#pieTotal{
		height: 400px!important;
		width: 400px!important;
	}
	.total__profit_top{
		display: none;
	}
	.shipper-row{
		font-size: 15px!important;
	}
	.create__supply-header{
		display: block!important;
	}
	.wrapper{
		margin: 0px!important;
	}
	.container-adaptive{
		padding-left: 0!important;
	}
}

@media only screen and (max-width: 768px){
	.detail__content{
		display: none!important;
	}
	#myChart{
		display: none!important;
	}
	.detail__content-mobile{
		display: block;
		margin-top: 50px;
	}
	.table-title{
		text-align: center;
		font-weight: 500;
	}
	.transfer-double{
		width: 480px!important;
	}
	.transfer-double-content-left,
	.transfer-double-content-right{
		width: 190px!important;
	}
	.transfer-double-list-search-input,
	.transfer-double-selected-list-search-input{
		width: 150px!important;
	}
	.transfer-double-content-middle{
		width: 30px!important;
		margin: 20% 10px 0 6px!important;
	}
	
}

@media only screen and (max-width: 480px){
	.nav-link{
		font-size: 13px!important;
	}
	.add_btn{
		font-size: 12px!important;
		margin: 0 0 5px 0;
	}
	.table_common{
		display: none;
	}
	.table_modile{
		display: table;
	}
	.footer__content{
		line-height: 40px;
	}
	.mobile-hidden{
		display: none;
	}
	.analytics__title{
		font-size: 20px!important;
	}
	.date_input{
		font-size: 12px;
	}
	.create-title{
		
	}
	.total__profit_wrapper{
		margin-top: 30px;
	}
	.total__profit_pie{
		margin: 0 auto;
	}
	#pieTotal{
		display: none!important;
	}
	#pieTotalSmall{
		display: block!important;
	}
	.header_title{
		font-size: 25px!important;
	}
	.text_paragraph{
		min-width: 0px!important;
		max-width: 100%;
		font-size: 12px;
	}
	.lead{
		font-size: 12px!important;
	}
	.descr_link{
		font-size: 12px;
	}
	.content__title-text{
		font-size: 15px!important;
	}
	.header_title-text{
		font-size: 25px!important;
	}
	.shipper-row{
		font-size: 13px!important;
	}
	.transfer-double{
		width: 305px!important;
		height: 300px!important;
	}
	.transfer-double-content{
		padding: 2px 2px 2px 2px!important;
	}
	.transfer-double-content-left,
	.transfer-double-content-right{
		width: 130px!important;
		height: 270px!important;
	}
	.btn-select-arrow{
		width: 17px!important;
	}
	.checkbox-group label:before{
		width: 14px!important;
		height: 14px!important;
	}
	.iconfont{
		font-size: 13px!important;
	}
	.transfer-double-list-search-input,
	.transfer-double-selected-list-search-input{
		width: 100px!important;
	}
	.transfer-double-list-main,
	.transfer-double-selected-list-main,
	.transfer-double-selected-list-ul,
	.transfer-double-list-ul{
		padding-left: 6px!important;
		height: 160px!important;
	}
	.checkbox-group{
		font-size: 11px!important;
	}
	.param-item{
		font-size: 13px!important;
	}
	.transfer-double-content-middle{
		width: 20px!important;
		margin: 20% 6px 0 6px!important;
	}
	.wrapper, .form-block{
		font-size: 13px!important;
		margin-top: 6px!important;
	}
	.form-block{
		max-width: none!important;
		width: 206px!important;
	}
	.num-input{
		font-size: 12px!important;
	}
	.supply-btn{
		max-width: none!important;
		width: 206px!important;
	}
}


@media only screen and (max-width: 320px){
	.table_common{
		display: none;
	}
	.table_modile{
		display: table;
	}
	th{
		font-size: 11px;
	}
	td{
		font-size: 11px;
	}
	.card-header{
		font-size: 14px;
	}
	.card-body{
		font-size: 12px;
	}
	.btn-detail{
		font-size: 12px!important;
	}
	.table-title{
		font-size: 13px;
	}
	.create-title{
		font-size: 15px;
	}
	.list-group{
		font-size: 12px!important;
	}
	form{
		font-size: 13px;
	}
	.detail__content{
		display: none!important;
	}
	.header_title{
		font-size: 23px!important;
	}
	.text_paragraph{
		min-width: 0px!important;
		max-width: 100%;
		font-size: 11px;
	}
	.lead{
		font-size: 11px!important;
	}
	.descr_link{
		font-size: 11px;
	}
	.content__title-text{
		font-size: 13px!important;
	}
	.header_title-text{
		font-size: 20px!important;
	}
	.transfer-double{
		width: 250px!important;
	}
	.transfer-double-content{
		padding: 2px 2px 2px 2px!important;
	}
	.transfer-double-content-left,
	.transfer-double-content-right{
		width: 110px!important;
	}
	.btn-select-arrow{
		width: 17px!important;
	}
	.iconfont{
		font-size: 13px!important;
	}
	.transfer-double-list-search-input,
	.transfer-double-selected-list-search-input{
		width: 80px!important;
	}
	.checkbox-group{
		font-size: 13px!important;
	}
	.param-item{
		font-size: 14px!important;
	}
	.transfer-double-content-middle{
		width: 10px!important;
		margin: 20% 8px 0 1px!important;
	}
	.transfer-double-selected-list-content{
		height: 163px!important;
	}
	.wrapper, .form-block{
		font-size: 13px!important;
		margin-top: 6px!important;
	}
	.num-input{
		font-size: 12px!important;
	}
	.supply-btn{
		max-width: none!important;
		width: 208px!important;
	}
	.transfer-double-list-main,
	.transfer-double-selected-list-main,
	.transfer-double-selected-list-ul,
	.transfer-double-list-ul{
		padding-left: 0px!important;
		height: 160px!important;
	}
	.param-item{
		line-height: 17px!important;
	}
}

