{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<br>
<a href="{% url 'sales' %}"><img class="custom_arrow" src="{% static 'common/images/arrow-left.png' %}" alt="left"></a>
<div class="col-md-6 offset-md-3">
    <div class="card">
        <h5 class="card-header">{{detail.product.name}} | id: {{detail.id}}</h5>
        <div class="card-body">
            <p class="card-text"><strong>Customer Name: </strong>{{detail.customer_name}}</p>
            <p class="card-text"><strong>Customer Phone: </strong>{{detail.customer_phone}}</p>
            <p class="card-text"><strong>Quantity: </strong>{{detail.quantity}}</p>
            <p class="card-text"><strong>Price: </strong>{{detail.product.price}}</p>
            <p class="card-text"><strong>Discount: </strong>{{detail.discount}}</p>
            <p class="card-text"><strong>Total Score: </strong>{{detail.get_total_score}}</p>
            <p class="card-text"><strong>Sale date: </strong>{{detail.created_at}}</p>
            <div class="card-body">
                {{detail.notes}}
            </div>
        </div>
    </div>
    <br>
    <div class="wrapper">
        <a class="btn btn-primary" href="{% url 'sale_update' detail.pk %}">Edit</a>
        <form style="display:inline" method="POST" action="{% url 'sale_delete' detail.pk %}">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
</div>
{% endblock %}