{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<br>
<a href="{% url 'sales' %}"><img class="custom_arrow" src="{% static 'common/images/arrow-left.png' %}" alt="left"></a>
<div class="col-md-6 offset-md-3">
    <div class="card">
        <h5 class="card-header">Продажа товара: {{detail.product.name}}</h5>
        <div class="card-body">
            <p class="card-text"><strong>Закупочная цена: </strong>{{detail.product.purchase_price|floatformat:"2"}}
                руб.</p>
            <p class="card-text"><strong>Розничная цена: </strong>{{detail.product.retail_price|floatformat:"2"}} руб.
            </p>
            <p class="card-text"><strong>Количество: </strong>{{detail.quantity}} шт.</p>
            {% if '%' in detail.discount %}
                <p class="card-text"><strong>Скидка: </strong>{{detail.discount}}</p>
            {% elif detail.discount == '0' %}
                <p class="card-text"><strong>Скидка: </strong>&#8722;</p>
            {% else %}
                <p class="card-text"><strong>Скидка: </strong>{{detail.discount}} руб.</p>
            {% endif %}
            <p class="card-text"><strong>Общая прибыль: </strong>{{detail.get_total_score|floatformat:"2"}} руб.</p>
            <p class="card-text"><strong>Чистая прибыль: </strong>{{detail.get_clean_total_score|floatformat:"2"}} руб.
            </p>
            <p class="card-text"><strong>Дата продажи: </strong>{{detail.created_at|date:"d-m-Y"}}</p>
            <p class="card-text"><strong>Комментарии: </strong></p>
            <div class="card-body">
                {{detail.notes}}
            </div>
        </div>
    </div>
    <br>
    <div class="wrapper">
        <a class="btn btn-primary" href="{% url 'sale_update' detail.pk %}">Редактировать</a>
        <form style="display:inline" method="POST" action="{% url 'sale_delete' detail.pk %}">
            {% csrf_token %}
            <input type="submit" value="Удалить" class="btn btn-danger">
        </form>
    </div>
</div>
{% endblock %}