{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<br>
<a href="{% url 'sales' %}"><img class="custom_arrow" src="{% static 'common/images/arrow-left.png' %}" alt="left"></a>
<div class="col-md-6 offset-md-3">
    <form method="post">
        {% csrf_token %}
        <div class="form-label custom-form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}</p>
        <div class="form-label custom-form-error">{{ f.errors }}</div>
        {% endfor %}
        <input type="submit" value="Update" class="btn btn-success">
    </form>
</div>

{% endblock %}