<div class="container">
    <div class="footer__content">
        <a href="{% url 'help' %}" class="footer__link">
            Руководство по использованию
        </a>
        <a href="" class="footer__link">
            О проекте
        </a>
        <a href="https://github.com/AlexanderSeryakov" class="footer__link">
            Связь с разработчиком
        </a>
        <a href="https://github.com/AlexanderSeryakov/SalesCRM/blob/main/LICENSE" class="copyright">&#169; License</a>
    </div>
</div>